<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/marks.css" />
    <script src="/scripts/Chart.js"></script>
    <script src="/scripts/jquery.js"></script>
  </head>

  <body>
    <h1><%= title %></h1>
    <h5>This is the AVG page</h5>
    <p>Welcome to <%= title %></p>
    <% var Test = [10,10,10,10,10]; %>
    <canvas id="myChart" width="400" height="400">myChart</canvas>
    <script>
      var c_data = {
        type: "bar",
        data: {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [
            {
              label: "Marks",
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)"
              ],
              borderColor: [
                "rgba(255,99,132,1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)"
              ],
              borderWidth: 1
            }
          ]
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true
                }
              }
            ]
          }
        }
      };
    </script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, c_data);
    </script>
    <script>
      function addData(chart, label, data) {
        chart.data.labels.push(label);
        chart.data.datasets.forEach(dataset => {
          dataset.data.push(data);
        });
        chart.update();
      }

      function removeData(chart) {
        chart.data.labels.pop();
        chart.data.datasets.forEach(dataset => {
          var yo = dataset.data.pop();
          console.log(yo);
        });
        chart.update();
      }

      // removeData(myChart);
      c_data.data.datasets[0].data = [10, 10, 10, 10];
      myChart.update();
      // console.log(c_data.data.datasets[0].data);
    </script>
    <script>
      console.log("YAYAYAYAY");
      $.getJSON("http://localhost:3000/test", function(data) {
        console.log(data);
        c_data.data.datasets[0].data = data;
        myChart.update();
      });
    </script>
  </body>
</html>
