<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <script type="text/javascript" src="/scripts/login.js"></script>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="register-form">
          <input type="text" placeholder="name" />
          <input type="password" placeholder="password" />
          <input type="text" placeholder="email address" />
          <button>create</button>
        </form>
      </div>
    </div>
  </body>
</html>
